.wrapper
  = render partial: "shared/side_bar"

  .chat
    .chat-header
      .header-left
        %p.current-group-name
          = @group.name
        %p.current-group-members
          Members:
          - @group.users.each do |user|
            = user.name
      .header-right
        %a.header-right__edit
          = link_to "/groups/1/edit", class: "header-right__edit--btn" do
            Edit

    .chat-body
      = render @messages

    .chat-footer
      .form
        = form_for [@group, @message] do |f|
          .input-box
            = f.text_field :content, class: 'input-box__text', placeholder: "type a message"
            = f.label :image, class: 'input-box__image' do
              = fa_icon("image")
              = f.file_field :image, class: "input-box__file"
          %button.form__send-btn{type: "submit",} Send
